.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.cell {
  float: left;
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  background: white;
}

#board {
  width: 310px;
}